/ {
    chosen {
        zephyr,display = &ssd1309_128x64;
    };
};

&i2c0 {
    clock-frequency = <I2C_BITRATE_FAST>;

    ssd1309_128x64: ssd1309@3c {
        compatible = "solomon,ssd1309fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
    };

    bh1750: bh1750@23 {
        compatible = "rohm,bh1750";
        reg = <0x23>;
    };
};
